@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .box {
        opacity: 0;
        transform: translateX(-20px);
        animation: fadeInAndMove 1s ease-in-out forwards;
    }

    @keyframes fadeInAndMove {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
